"""Basic tests for {{ project_name }}.

This is just a stub and should be extended with real tests.
"""


def test_import_package():
    """Make sure module imports without errors."""
    import {{python_package_import_name}}  # noqa: F401
